@import url(''https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,50;0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'');


html {
	height: 100vh;
}

:root {
	--koreTitleBarBlue: #E9F1F4;
	--koreDarkBlue: #13528E;
	--koreBackgroundBlue: #E9F1F4;
	--koreDarkGreyText: #58585B;
	--koreBrightBlue: #348CD5;
	--korePendingOrange: #F17F15;
	--koreSubmittedGreen: #11A45D;
	--koreOverdueRed: #CE1126;
	--koreStatusBackgroundGrey: #F7F7F7;
	--koreSectionBorder: #DCD0D0;
	--koreButtonActiveColor: #1EBC8A;
	--koreBodyFont: Arial, sans-serif;
	--koreBodyFontSize: 16px;
	--koreHeadingFont: ''Roboto'', sans-serif, regular;
	--koreHeadingFontSize: 18px;
	--koreSubHeadingFont: Roboto, sans-serif, medium;
	--koreSubHeadingFontSize: 16px;
	--koreTextInputHeight: 48px;
	--koreBorderRadius: 5px;
}

#headerDate {
	text-align: right;
}

body {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	font-family: var(--koreBodyFont);
	font-size: var(--koreBodyFontSize);
	background: var(--koreBackgroundBlue);
	margin: 0px;
}

.notebookLabel a:hover {
	color: white;
}

.notebookLabel a:link, notebookLabel a:active, notebookLabel a:visited {
    color: white;
}

.notebookSelectedLabel {
    color: var(--koreDarkBlue);
    background-color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 15px 5px 15px 5px;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    vertical-align: top;
}

.notebookLabel {
	color: white;
    background-color: var(--koreDarkBlue);
    font-family: var(--koreSubHeadingFont);
    font-size: var(--koreSubHeadingFontSize);
    font-weight: normal;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px 14px 0px 14px;
    border: 1px solid lightgrey;
    white-space: nowrap;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button:focus {
	outline-color: var(--koreBrightBlue);
}

button {
	font-size: 16px;
	border-radius: var(--koreBorderRadius);
}

horizontalRule {
	width: 100%;
	color: var(--koreSectionBorder);
 }

.koreMobileHorizontalRule{
	width: 96%;
}

textInput{
	height: var(--koreTextInputHeight);
	border-radius: var(--koreBorderRadius);
}

.app-header {
  	grid-area: app-header;
}

.content{
  	grid-area: content;
}

.headerLink, .headerLink:link, .headerLink:visited, .headerLink:hover, .headerLink:active {
	color: var(--koreDarkBlue);
	text-decoration: underline;
	font-family: var(--koreHeadingFont);
	font-weight: 500;
}

.koreMobileLargeButton:focus {
	outline-color: var(--koreBrightBlue);
}

.koreMobileLargeButton {
  	display: flex;  
        justify-content: center;
        align-items: center;
	width: 90%;
	height: var(--koreTextInputHeight);
	border-radius: var(--koreBorderRadius);
	font-family: var(--koreSubHeadingFont);
	font-size: var(--koreSubHeadingFontSize);
	font-weight: 700;
 	background-color: var(--koreDarkBlue);
	color: white;
	margin: 1em;
	border: 0px;
 }

.koreMobileContainer {
	position: relative;  
 	width: 100%;
	background-color: var(--koreTitleBarBlue);
	border: 0;
	margin-bottom: 30px;
 }

.koreMobileButtonSection {
	margin: 20px;
}

.koreMobileFieldLabel  {
	font-family: var(--koreSubHeadingFont);
	font-size: var(--koreSubHeadingFontSize);
	color: var(--koreDarkGreyText);
	}

h1.koreMobileHeading {
	font-family: var(--koreHeadingFont);
	font-size:  var(--koreHeadingFontSize);	
	font-weight: 900;
	color: var(--koreDarkGreyText);
	margin: 1em;  
}

.koreMobileForm {
	width: 100%;
}

.koreMobileSubForm {
	margin-top: 50px;
}

.koreMobileTextInput {
	font-family: var(--koreBodyFont);
	font-size: var(--koreBodyFontSize);
	border: 1px solid var(--koreDarkBlue);
	height: var(--koreTextInputHeight);
	border-radius: var(--koreBorderRadius);
	text-indent: 10px;
	width: 100%; 
 }

.koreMobileTextInput:focus {
	outline: var(--koreBrightBlue) auto 1px;
}

.koreMobileTable {
	width: 90%;  
	margin-left: 1em;
 }

.koreMobileLogo {
	margin: 5px;
	margin-left: 20px;
	width: 50%;
}

.status {
	display: grid;
	grid-template-columns: 1fr 6fr;
	border: none;
	border-radius: 10px;
	margin: 5px 5px 5px 5px;
	padding: 2px;
	background: var(--koreStatusBackgroundGrey);
	color: black;
}

.koreMobileNotebookContainer{
	position: relative;  
	background: var(--koreTitleBarBlue);
	border: 0;
	padding: 10px;
 }

.koreMobileHeading{
	font-family: var(--koreHeadingFont);
	font-size:  var(--koreHeadingFontSize);
	font-weight: 900;
	color: var(--koreDarkGreyText); 
	margin-bottom: 1em;
	margin-left: 5px;
}

.titleBar {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	align-items: center;
	justify-items: left;  
	background: var(--koreTitleBarBlue);
 	border: 1px solid var(--koreDarkBlue);
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 100%;
	margin: 0;
	overflow: none;
}

.mobileFilledButton {
	background-color: var(--koreDarkBlue);
	border-color: var(--koreDarkBlue);
	border-radius: 10px;
	color: white;
	height: 40px;
	cursor: pointer;
}

.mobileFilledButton:disabled {
	background-color: var(--koreStatusBackgroundGrey);
	border-color: var(--koreDarkBlue);
	color: var(--koreDarkBlue);
	cursor: auto;
}

.mobileButtonContainer {
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px; margin: 20px;
}

