
body {
	background-color:#F9F9F9;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	height: 100%; 
}

.layoutBorder {
	border: 1px solid lightgrey;
	background: #F9F9F9; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.searchLayoutBorder {
    border: 1px solid lightgrey;
    background: #F9F9F9;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
}
